defaults:
  - _self_
  - model: deepsc
  - data: default
  - loss: default
  - logging: default
  - system: default
  - experiment: default
  - scheduler: default
  - fabric: default
  - override hydra/job_logging: default

seed: 42
model_name: "DeepSC"
grad_acc: 20
learning_rate: 3e-4
epoch: 10
batch_size: 8
num_bin: 5

resume_last_training: True
save_ckpt: True
save_ckpt_every: 2000
valid_every: 2000
check_grad_flow: False  # 是否启用梯度检查 多卡的时候不需要启用



hydra:
  # Logging configuration: https://hydra.cc/docs/tutorials/basic/running_your_app/logging/
  verbose: false
  # Logs to stdout and to a file.
  job_logging:
    handlers:
      console:
        class: logging.StreamHandler
        stream: ext://sys.stdout
      file:
        filename: ${hydra.runtime.output_dir}/${hydra.job.name}_${oc.select:hydra.job.num, 0}.log
