defaults:
  - _self_
  - model: deepsc

wandb_project: "DeepSC"
tags: ["256hd"]
run_name: "finetune_cell_type_annotation_256hd"
num_device: 1
num_nodes: 1
pretrained_model_path: "/home/angli/baseline/DeepSC/results/latest_checkpoint.ckpt"

# 梯度检查相关参数
check_grad_flow: False  # 是否启用梯度检查 多卡的时候不需要启用
hydra:
  # Logging configuration: https://hydra.cc/docs/tutorials/basic/running_your_app/logging/
  verbose: False
  # Logs to stdout and to a file.
  job_logging:
    handlers:
      console:
        class: logging.StreamHandler
        stream: ext://sys.stdout
      file:
        filename:
          ${hydra.runtime.output_dir}/${hydra.job.name}_${oc.select:hydra.job.num, 0}.log
