defaults:
  - _self_
  - model: deepsc
num_device: 1
num_nodes: 1
num_bin: 5
enable_l0: False
enable_mse: True
enable_ce: True
use_moe_ffn: True
pretrained_model_path: "/home/angli/baseline/DeepSC/results/latest_checkpoint.ckpt"
data_path: "/home/angli/baseline/DeepSC/data/grn/Immune_ALL_human.h5ad"
hydra:
  # Logging configuration: https://hydra.cc/docs/tutorials/basic/running_your_app/logging/
  verbose: False
  # Logs to stdout and to a file.
  job_logging:
    handlers:
      console:
        class: logging.StreamHandler
        stream: ext://sys.stdout
      file:
        filename:
          ${hydra.runtime.output_dir}/${hydra.job.name}_${oc.select:hydra.job.num, 0}.log
