_target_: src.deepsc.models.deepsc.model.DeepSC
embedding_dim: 256
num_genes: 34683
num_layers: 10 # remember to check gene_embedding_participate_til_layer and n_moe_layers
attn_dropout: 0.1
ffn_dropout: 0.1
fused: False
num_bins: ${num_bin}
alpha: 0.5
num_heads: 8
mask_layer_start: 2
enable_l0: ${..loss.enable_l0}
enable_mse: ${..loss.enable_mse}
enable_ce: ${..loss.enable_ce}
num_layers_ffn: 2
use_moe_regressor: ${..experiment.use_moe_regressor}
use_M_matrix: ${..experiment.use_M_matrix}
gene_embedding_participate_til_layer: 3

moe:
  n_moe_layers: 4
  use_moe_ffn: ${...experiment.use_moe_ffn}
  dim: ${..embedding_dim}
  moe_inter_dim: 512
  n_routed_experts: 2
  n_activated_experts: 2
  n_shared_experts: 1
  score_func: "softmax"
  route_scale: 1.0
