_target_: deepsc.models.generation_deepsc.model.DeepSC
embedding_dim: 256
num_genes: 35210
num_layers: 10 # remember to check gene_embedding_participate_til_layer and n_moe_layers
attn_dropout: 0.1
ffn_dropout: 0.1
num_bins: ${num_bin}
alpha: 0.5
num_heads: 8
enable_l0: ${enable_l0}
enable_mse: ${enable_mse}
enable_ce: ${enable_ce}
num_layers_ffn: 2
use_moe_regressor: ${use_moe_regressor}
gene_embedding_participate_til_layer: 3
attention_stream: 2
cross_attention_architecture: "A"

moe:
  n_moe_layers: 4
  use_moe_ffn: ${use_moe_ffn}
  dim: 256
  moe_inter_dim: 512
  n_routed_experts: 2
  n_activated_experts: 2
  n_shared_experts: 1
  score_func: "softmax"
  route_scale: 1.0
